<h1> Create a new task </h1>

<!-- <form action="/tasks" method="post">

<label for="name">Name</label>
<input type="text" name="task[title]">

<label for=details>Details</label>
<input type="text" name="task[details]">

<input type="submit">
</form> -->


<%= render "form" %>

<!-- Task.new(params[:task]) -->
